html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'MyFont', sans-serif;
}

@font-face {
    font-family: 'MyFont';
    src: url('Fonts/Abel-Regular.ttf') format('truetype');
}

.table {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: mediumseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter {
    background-color: yellow;
    position: relative;
    height: 80%;
    width: 25rem;
}

.next-chapter {
    position: fixed;
    z-index: 2;
    left: 95%;
}

.prev-chapter {
    position: fixed;
    z-index: 2;
    right: 95%;
}

.label {
    color: black;
    background-color: white;
    padding: 0.5rem;
    text-align: center;
    position: absolute;
    top: 45%;
    /* width: 100%; */
    display: none;
    font-size: 1.5rem;
    box-shadow: -5px 5px 30px 0 rgb(0, 0, 0, 0.5);
}

.label-kanan {
    left: -45%;
}

.label-kiri {
    right: -45%;
}

.paper {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: -5px 5px 10px 0 rgb(0, 0, 0, 0.5);
}

.foreground {
    /* position: fixed; */
    position: absolute;
    top: 0%;
    z-index: 3;
}

.background {
    position: absolute;
    top: 0%;
    /* z-index: 1; */
}

.navHal {
    position: relative;
    height: 50%;
    z-index: 4;
}

.next {
    background-color: rgb(0, 0, 0, 0);
}

.mySlideOutDown {
    animation-name: mySlideOutDown;
    animation-fill-mode: forwards;
    animation-duration: 700ms;
}

.mySlideInUp {
    animation-name: mySlideInUp;
    animation-fill-mode: forwards;
    animation-duration: 700ms;
}

.nextChapter {
    animation-name: nextChapter;
    animation-fill-mode: forwards;
    animation-duration: 700ms;
}

@keyframes mySlideOutDown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(150%);
    }
}

@keyframes mySlideInUp {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes nextChapter {

}

.prev {
    background-color: rgb(0, 0, 0, 0);
}

.teks {
    text-align: justify;
    white-space: pre-wrap;
    padding: 0 2rem 2rem 2rem;
}

.judul {
    text-align: center;
    padding: 0;
    margin: 2rem 0 2rem 0;
}

.gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 7rem;
}

.halaman {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}
