html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'MyFont';
    src: url('Abel-Regular.ttf') format('truetype');
}

.opening-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}

.logo-svg {
    height: 15rem;
    width: 17rem;
    /* background-color: yellow; */
}

.logo {
    height: inherit;
    width: inherit;
    animation-name: logo-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes logo-up {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(25px);
    }
}

.title-svg {
    height: 2rem;
    width: 17rem;
    /* background-color: green; */
}

.title {
    height: inherit;
    width: inherit;
    transform: translate(50%, -40%);
    animation-name: title-down;
    animation-delay: 1s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    font-size: 1.5rem;
    font-family: 'MyFont', sans-serif;
}

@keyframes title-down {
    0% {
        transform: translate(50%, -40%);
    }
    100% {
        transform: translate(50%, 50%);
    }
}